<nav class="navbar-default navabar-fixed-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--Router link active to show active page/link-->
        <li routerLinkActive= "active" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/AddTask']"> Home</a></li>
        <li routerLinkActive= "active" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/ListTask']"> Show Task List</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation -->
<div class="jumbotron">
  <router-outlet>
  </router-outlet>
</div>
<!-- Main Component Display -->